* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'dulccini-font'; 
  src: url('../fonts/Lobster.otf') format('opentype'); 
}
@font-face {
  font-family: 'my-font'; 
  src: url('../fonts/Pacifico.ttf') format('opentype'); 
}

#sct-navigation {
    position: absolute;
    background-image: linear-gradient(to bottom, #cd9cf2 0%, #f6f3ff 100%);
  height: 3em;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
#sct-navigation a{
    margin-right: 20px;
    color: black;
}
#navigation-bar{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
#sct-nav-box{
  display: flex;
  flex-direction: row;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.myfont {
  font-family: "dulccini-font", sans-serif;
  font-size: 3em !important;
}
.sct-link{
    text-decoration: none;

}
.sct-link:hover{
    color: rgb(222, 57, 255) !important;
}
#video-container{
    background-color: transparent;
    height: 500px;
}

.container{
  width: 90%;
  padding: 10px 40px;
  background-color: transparent;
}
.container .swiper-container{
  width: 100%;
  height: 100%;
}
.container .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  text-align: start;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}
.container .swiper-slide img{
   display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.container .swiper-slide .card-description{
    padding:1rem 1rem;
    height: 100%;
}
.container .swiper-slide .card-title,.container .swiper-slide .card-text{
   margin-bottom: .5rem;
}
.container .swiper-slide .card-link{
   text-align: center;
  
}
.container .swiper-slide .card-link a{
    text-decoration: none;
    color: #1d6ce2;
}
.swiper-button-next{
    right: 26px !important;
    top: 1050px;
}
.swiper-button-prev{
    left: 26px !important;
    top: 1050px;

}
.prod-title{
  text-align: center;
  padding: 25px;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: "dulccini-font", sans-serif;
  font-size: 2.5em;
  border-bottom: 1px black solid;
  width: 600px;
}
.prod-title-box{
  display: grid;
  align-items: center;
  justify-content: center;
}

#background-images-box{
  
}

#background-images {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: image-transition 25s infinite; /* Duración de la transición y repetición infinita */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  justify-content: center;
}

@keyframes image-transition {
  0% {
    background-image: url('../images/dulccini15.jpeg');
  }
  33% {
    background-image: url('../images/dulccini8.jpeg');
  }
  66% {
    background-image: url('../images/dulccini5.jpeg');
  }
  100% {
    background-image: url('../images/dulccini15.jpeg');/* Vuelve a la primera imagen al final */
  }
}


#actions-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

#actions-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

#actions-menu li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "my-font", sans-serif;
  font-size: 2.5em;
  color: white;
  transition: color 0.3s ease; /* Agregar transición al cambio de color */
}
#actions-menu li a:hover {
  color: rgb(222, 57, 255) !important;
}
#actions-menu li img {
  width: 50px;
  margin-bottom: 5px;
}
#logo-box{
  height: 200px;
  background-color: transparent;
}
#logo{
  justify-self: center;
}
#glass-box{
  margin-top: 50px;
  width: 80vmax;
  height: 80vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  display: grid;
  justify-content: center;
  border-radius: 25px;
}

@media (max-width: 768px) {
  #actions-menu li a{
    font-size: 2em;
  }
  #actions-menu li img{
    width: 50px;
    margin-right: 1
    0px;
}
}
#form-box{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background:rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  width: 70vmax;
  height: 70vh;
}
#order-now h2{
  justify-self: center;
}
#sample-box{
  background-color: tomato;
  animation: image-transition-2 25s infinite; /* Duración de la transición y repetición infinita */
  height: auto;
  width: 70vmax;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#contact-box h3{
  font-family: "my-font", sans-serif;
  font-size: 3.5em;
}
#contact-box h3:nth-child(4){
  padding-bottom: 1.2em;
  border-bottom: 1px black solid;
}
#contact-box img{
  margin-bottom: 1.2em;
}
#contact-box p{
  font-size: 1.5em;
  font-family: "my-font", sans-serif;
}
#contact-box{
  padding: 3.5em;
}
@keyframes image-transition-2 {
  0% {
    background-image: url('../images/dulccini13.jpeg');
  }
  33% {
    background-image: url('../images/dulccini9.jpeg');
  }
  66% {
    background-image: url('../images/dulccini2.jpeg');
  }
  100% {
    background-image: url('../images/dulccini13.jpeg');/* Vuelve a la primera imagen al final */
  }
}
#about-us{
  margin-top: 100px;
}
#dulccini-footer{
  color: white !important;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
}